<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="yano,Ayano Nishimura,Ocha,Itoh lab.,Siio lab.">
    <meta name="robots" content="index,nofollow">
    <meta name="description" content="Personal website.">
    <link rel="stylesheet" href="public/css/reset.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/main.css">
    <title>Ayano Nishimura</title>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-nav">
        <a class="nav-item nav-link lead" href="index.html"><i class="fas fa-language"></i></a>
      </div>
      <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#profile">Profile</a>
          <a class="nav-item nav-link" href="#news">News</a>
          <a class="nav-item nav-link" href="#portfolio">Portfolio</a>
          <a class="nav-item nav-link" href="#activities">Activities</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid odd" id="profile" style="margin: 0 0;">
      <div class="container">
        <h1 class="display-5"><img src="public/img/yano.png" style="width: 50px; height: 50px; border-radius: 5%; margin-right:10px;" alt="Yano">Ayano Nishimura</h1>
        <p class="lead">
          NTT QONOQ</br>
        </p>
        <p class="lead">
          <a href="public/pdf/Resume.pdf"><i class="fas fa-user"></i></a>
          <a href="https://www.youtube.com/playlist?list=PLiFHotsBSvGPYoGN3wpmk9Jkct3PsNBQt" target="_blank"><i class="fas fa-music"></i></a>
          <a href="https://www.google.com/maps/d/edit?mid=1HEKU3zbu_Q5hxNK9oCj_dNWOnCX_qxPW&usp=sharing" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
          <a href="afternoontea.html"><i class="fas fa-coffee"></i></a>
          <a href="https://twitter.com/yanoooooo" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="javascript:void(0);" data-toggle="popover" data-html="true" data-placement="top" data-content="miserablescaromioben@yahoo.co.jp"><i class="far fa-envelope"></i></a>
        </p>
      </div>
    </div>
    <div class="even">
      <div class="container" id="news">
        <h1>News</h1>
        <dl class="row" v-for="(value, index) in 2">
          <dt class="col-sm-3"><i v-bind:class="news[index].icon" style="margin-right: 5px;"></i>{{news[index].date}}</dt>
          <dd class="col-sm-9">
            {{news[index].contents}}
          </dd>
        </dl>
        <p class="text-right">
          <a href="#" data-toggle="modal" data-target="#news-modal">View more...</a>
        </p>
      </div>
      <!-- News Modal -->
      <div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">News</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="overflow:scroll;">
              <dl class="row" v-for="list in news">
                <dt class="col-sm-3"><i v-bind:class="list.icon" style="margin-right: 5px;"></i>{{list.date}}</dt>
                <dd class="col-sm-9">
                  {{list.contents}}
                </dd>
              </dl>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="odd">
      <div class="container" id="portfolio">
        <h1>Portfolio</h1>
        <ul class="list-unstyled" v-for="list in portfolio">
          <li class="media">
            <img class="mr-3" v-bind:src="list.icon" alt="Generic placeholder image" width="64" height="64">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{list.title}}</h5>
              {{list.text}}<br>
              <a v-bind:href="'portfolio_en.html?id='+list.id"><small>View detail...</small></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="even">
      <div class="container" id="activities">
          <h1>Activities</h1>
          <div id="accordion">
            <div class="card">
              <a data-toggle="collapse" data-target="#collapseOne" style="cursor: pointer;" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    Research ▼
                  </h5>
                </div>
              </a>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-unstyled" v-for="list in research">
                    <li><a v-bind:href="list.href" target="_blank">{{list.title}}.</a><br> <small>{{list.author}}. {{list.conference}}. {{list.date}}.</small></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <a data-toggle="collapse" data-target="#collapseTwo" style="cursor: pointer;" aria-expanded="false" aria-controls="collapseTwo">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    Awards ▼
                  </h5>
                </div>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-unstyled" v-for="list in award">
                    <li><a v-bind:href="list.href" target="_blank">{{list.title}}</a><br>
                      {{list.award}}. <small>{{list.convention}}. {{list.date}}.</small></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <a data-toggle="collapse" data-target="#collapseThree" style="cursor: pointer;" aria-expanded="false" aria-controls="collapseThree">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    Stage ▼
                  </h5>
                </div>
              </a>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-unstyled" v-for="list in stage">
                    <li><a v-bind:href="list.href" target="_blank">{{list.title}}</a><br>
                      {{list.role}}, <small>{{list.company}}, {{list.date}}.</small></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="public/js/common_en.js"></script>
  <script type="text/javascript">
    var common = new Common();
    new Vue({
      el: '#app',
      data: common.data,
    })
    $(function() {
      $('.tooltip-tool').tooltip({
          selector: "a[data-toggle=tooltip]"
      })
      $("a[data-toggle=popover]").popover()
    });
  </script>
</body>
</html>
