html, body, #app {
  /* width: 100%;
  height: 100%; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #705d56;
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

a:link { color: #ff6978; }
a:visited { color: #ff6978; }
a:hover { color: #ffb74d; }
a:active { color: #ff6978; }

/* navbar 全体の背景色とボーダーカラー */
.navbar {
  background-color: #70abaf;
  border-color: #70abaf;
}
/* navbar テキストカラー */
.navbar a {
  color: #ffffff;
}

.navbar a:hover {
  color: #70abaf;
}

/* navbar ハンバーガー四角枠 */
.navbar-toggler {
  border-color: #ffffff;
}
/* navbar ハンバーガー三本線 */
.navbar-toggler-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.even {
  background-color: white;
  padding: 3% 0;
}

.odd {
  background-color: #f0f7f4;
  padding: 3% 0;
}

.modal-header {
  background-color: #70abaf;
  color: #ffffff;
}

.close {
  color: #ffffff;
}

.btn {
  background-color: #ff6978;
  border-color: #ff6978;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffb74d;
  border-color: #ffb74d;
  color: #ffffff;
}

.card {
  border-color: #70abaf;
}

.card-header {
  background-color: #70abaf;
  color: #ffffff;
}
